.container {
  display: flex;
  height: 100vh;
  background: #eaf2f7;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 80%;
}

.right {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input, select {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #3f4b63;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2f394f;
}

.forgot {
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.social button {
  margin-right: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
}

.avatar-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  background: #ddd;
}