.app-container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.sidebar a:hover {
  color: #60a5fa;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #f9fafb;
}
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  background: #f1f5f9;
}

label {
  font-size: 13px;
  font-weight: 500;
}